{% extends "main-template.html" %}
                    {% block main %}
                    <h1>{{ selected_category.category }} Items ({{ category_items|length() }} items)</h1>
                    <ul>{% for item in category_items %}
                        <li><a href="{{ url_for('showItem', item_id=item.id) }}">{{ item.item_name }}</a></li>{% endfor %}
                    </ul>
                    <section>
                        <a href="{{ url_for('updateCategory', category_id=selected_category.id) }}" class="btn btn-primary">Edit Category</a>
                        {% if not category_items|length %}<a href="{{ url_for('deleteCategory', category_id=selected_category.id) }}" class="btn btn-danger">Delete Category</a>{% endif %}
                    </section>
                    {% endblock %}