{% extends "main-template.html" %}
                    {% block main %}
                    <h1>{{ selected_item.item_name }} <small>({{ selected_item.category }})</small></h1>
                    <p>Description: {{ selected_item.description }}</p>
                    <!-- hide the following section by default -->
                    <!-- if a user created this item, then show -->
                    <section class="">
                        <a href="{{ url_for('updateItem', item_id=selected_item.id) }}" class="btn btn-primary">Edit Item</a>
                        <a href="{{ url_for('deleteItem', item_id=selected_item.id) }}" class="btn btn-danger">Delete Item</a>
                    </section>{% endblock %}